@model Domain.Onderdeel

@{
    ViewBag.Title = "Nieuw onderdeel";
    Layout = "_Layout";
}

<h2>Nieuw onderdeel voor</h2>
<p>Maak een nieuw onderdeel aan.</p>
<form asp-controller="Onderdeel" asp-action="New" method="post">
    <div class="div-container">
        <div class="div-left">
            <dl class="dl-horizontal">
                <dt class="dd-dt"><label for="Merk">Merk</label></dt><dd class="dd-dt"><input asp-for="Merk" class="inputdetails"/></dd>
                        <dt class="dd-dt"> <label for="Bestelnummer.Bestelnr">Bestel nummer</label></dt><dd class="dd-dt"><textarea  asp-for="Bestelnummers.First()" cols="40" rows="5" class="inputdetails"></textarea ></dd>


            </dl>
        </div>
        &nbsp;
        <div class="div-right">

            <dl class="dl-horizontal">
<dt class="dd-dt"> <label for="Beschrijving"> Beschrijving</label></dt><dd class="dd-dt"><textarea  asp-for="Beschrijving" cols="40" rows="6" class="inputdetails"></textarea >
                </dl>
        </div>
    </div>
    <div class="div-buttons">
        <input type="submit" value="Opslaan" class="btn btn-default"/>&nbsp;&nbsp;&nbsp;



        </div>
</form>