@model object

@{
    ViewBag.Title = "Werk";
    Layout = "_Layout";
}

<h2 class="float-left">Werk historiek</h2>&nbsp;<a class="btn btn-primary float-right" asp-area="" asp-controller="Werk" asp-action="Add" >Nieuw</a>

@Html.Partial("_WerkList", Model)